/*========================================*/
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-basis:95%;
    height: 95%;
    flex:1;
}
.flex-container>div{
    flex: 1;
}
/*========================================*/
#menu{
    flex-direction: column;
    padding: 5px 0;
}
.menu-item{
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 5px;
    padding: 2px;
    border: 1px solid gray;
}
line, path, .wall{
    stroke: black;
    stroke-width: 1px;
}
.wall{
    fill:#555;
}
.door path{
    fill:rgba(50,155,205, 1);
}
.form-control{
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:34px;
}
.form-group{
    padding-bottom: 15px;
}
.lines line{
    stroke: rgba(205,205,205, 0.5);
    stroke-width: 1px;
}
/*========================================*/